:root {
    --color-main: #88BBE4;
    --color-accent: #87DCC0;
    --color-accent-secondary: #CDF1AF;
    --color-alt: #E494D3;
    --color-alt-secondary: #998AD3;
}

body {
    color: #424242;
    font-family: sans-serif;
}

header {
    margin: 0;
    padding: 1pt;
    width: 100%;
    
    border-bottom-style: solid;
    border-bottom-color: var(--color-accent);

    color: var(--color-main);
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 600pt;
}

form {
    margin: 10pt;
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-wrap:  wrap;
    justify-content: space-around;
}

label {
    margin: 5pt
}

input {
    margin: 5pt;
    min-height: 2em;
    min-width: 150pt;

    border-color: var(--color-main);
    border-radius: 2pt;
    border-style: solid;

    color: #424242;
}

input.button {
    padding: auto;
    min-width: 150pt;
    
    background-color: var(--color-main);
}

table#markettable {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

th {
    border-bottom-color: var(--color-accent-secondary);
    border-bottom-style: solid;
}

th, td {
    padding: 5pt;
}

a:link {
    color: var(--color-main)
}

a:visited {
    color: var(--color-accent);
}