{% extends "base.html" %}

{% block content %}
<form action="{{ url_for("web.index") }}">
    <label for="postcode">Postleitzahl</label>
    <input type="text" name="postcode" value="{{ request.args.get("postcode", "") }}" class="textfield">
    <input type="submit" value="Suchen" class="button">
</form>

<table id="markettable">
    {% if markets %}
    <tr>
        <th>Name</th>
        <th>Adresse</th>
    </tr>
    {% for market in markets %}
    <tr>
        <td>{{ market.tags["name"] | e }}</td>
        <td>{{ market.tags["addr:street"] | e }} {{ market.tags["addr:housenumber"] | e }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock content %}
